// global
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
           box-sizing: $sizing;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin span-icon($url) {
  background: url($url) no-repeat left center;
  padding-left: 16px;
}

$headerBackground: #2189BF;
$headerHeight: 50px;
$headerMargin: 1/12*100%;
$logoHeight: 36px;
$searchInputHeight: 25px;
$aColor: #6998BF;

.default {
  margin: 0;
  padding: 0;
}

.a {
  color: $aColor;
  text-decoration: none;
}

body {
  @extend .default;
  font-size: 12px;
  min-width: 1000px;
  background: #fff;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Microsoft Yahei", sans-serif;
}

header, main {
  @extend .default;
  @include clearfix();
  width: 100%;
}

* {
  @include box-sizing(border-box);
}

a {
  text-decoration: none;
  color: #77A0C4;
}

.left {
  float: left;
}

.right {
  float: right;
}



// header
header {
  background: $headerBackground;
  height: $headerHeight;

  .left {
    margin-left: $headerMargin;
    margin-top: calc((#{$headerHeight} - #{$logoHeight})/2);
  }
  .right {
    margin-right: $headerMargin;
    margin-top: calc((#{$headerHeight} - #{$searchInputHeight})/2);
    form {
      display: inline-block;
    }
    #search_input {
      width: 300px;
      height: $searchInputHeight;
      display: inline-block;
      border: none;
      @include border-radius(15px);
      background: #fff url("../img/search.jpg") no-repeat 5% 50%;
    }
    #search_submit {
      display: none;
    }
    a {
      @extend .a;
      background: url("../img/login.png") no-repeat left center;
      margin-left: 10px;
      padding-left: 20px;
    }
  }
}

// content
// avatar
$avatarWidth: 100px;
$avatarHeight: 100px;
$allLeftPadding: 5% 0 1% 8%;
.avatar-img {
  overflow: hidden;
  position: relative;
  padding: $allLeftPadding;
}
.avatar-img img {
  width: $avatarWidth;
  height: $avatarHeight;
  border-radius: 50%;
  padding: 5px;
  border: 2px #fff solid;
  position: relative;
}
.avatar-img span {
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 50%;
  padding-left: 5%;
}

// menu-list
.file-open {
  @include span-icon("../img/icon-file-open.png");
}
.package-open {
  @include span-icon("../img/icon-package-open.png")
}
.arrow-right {
  @include span-icon("../img/icon-right.png");
}
.arrow-bottom {
  @include span-icon("../img/icon-down.png");
}
.start-icon {
  @include span-icon("../img/icon-star.png");
}
.share-icon {
  @include span-icon("../img/share.png");
}
.user-info-icon {
  @include span-icon("../img/user_info.png");
}

$mainLeftWidth: 20%;
$mainLeftBackground: #2B2E3C;
$mainLeftLightBackground: #383E4D;
$mainRightWidth: 100%-$mainLeftWidth;
$mainRightBackground: #EDEDED;
$mainLeftPadding: 20px;
$mainLeftFontSize: 14px;
$menuSelectedColor: #fff;
main {
  $leftFontColor: #6C8094;
  $leftFontLightColor: #fff;
  $levelMarginBottom: 10px;
  $level2Padding: 12px;
  $level3Padding: $level2Padding*2;
  .left {
    width: $mainLeftWidth;
    font-size: $mainLeftFontSize;
    color: $leftFontColor;
    background: $mainLeftBackground;

    .profile {
      padding: $allLeftPadding;
      @include clearfix();
      .left {
        text-align: center;
        height: 50px;
        @include box-sizing(content-box);
        margin-top: 20px;
        padding: 0;

        p {
          margin: 0;
          border-right: 1px #323545 solid;
        }
      }
      & .left:last-of-type p {
        border: none;
      }
    }
    .menu-item {
      padding: $allLeftPadding;
    }
    .menu-item.selected {
      background: #373D4C;
    }
    .level-1, .level-2, .level-3 {
      margin-bottom: $levelMarginBottom;
    }
    .selected {
      color: $menuSelectedColor;
    }
    .level-1 {
      span {
        padding-left: 20px;
      }
    }
    .level-2, .level-3 {
      span {
        padding-left: 5px;
      }
    }
    .level-2 {
      @extend .arrow-right;
      @include box-sizing(border-box);
      padding-left: $level2Padding;
    }
    .level-2.selected {
      @extend .arrow-bottom;
      padding-left: 20px;
    }
    .level-3 {
      @include box-sizing(border-box);
      padding-left: $level3Padding;
    }
  }
  .right {
    width: $mainRightWidth;
    background: $mainRightBackground;
    height: 700px;
    .nav {
      background: #fff;
      padding: 5px 0 5px 30px;
      span {
        font-size: 13px;
        color: #ccc;
      }
      a {
        color: $aColor;
      }
    }
    .row {
      width: 90%;
      background: #fff;
      margin: 20px auto;
      height: 150px;
    }
  }
}

