@keyframes heightAnim {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0;
    }

}
.aqi-bar {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    animation: heightAnim .5s ease-in-out;
}
.aqi-hint {
    position: absolute;
    display: none;
    width: 120px;
    border: 1px solid #16324a;
    background-color: white;
    z-index: 999;
    font-size: .75rem;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #dddddd;
    opacity: .8;
}
.show + div {
    display: block;
}