/* grid layout css */
* {
    box-sizing: border-box;
}

.row {
    width: 100%;
}

.row div {
    float: left;
    padding: 10px;
}

.row:after, .row:before {
    content: '';
    clear: both;
    display: table;
}

@media screen and (min-width: 768px) {
    .col-md-1 {
        width: 8.3333333333333%;
    }

    .col-md-2 {
        width: 16.666666666667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.333333333333%;
    }

    .col-md-5 {
        width: 41.666666666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.333333333333%;
    }

    .col-md-8 {
        width: 66.666666666667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.333333333333%;
    }

    .col-md-11 {
        width: 91.666666666667%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .col-sm-1 {
        width: 8.3333333333333%;
    }

    .col-sm-2 {
        width: 16.666666666667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.333333333333%;
    }

    .col-sm-5 {
        width: 41.666666666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.333333333333%;
    }

    .col-sm-8 {
        width: 66.666666666667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.333333333333%;
    }

    .col-sm-11 {
        width: 91.666666666667%;
    }

    .col-sm-12 {
        width: 100%;
    }
}